// Modules and Variables
@import "partials/base";

// Partials
@import "partials/fonts";
@import "partials/typography";

@include selection { background: #222; color: #fff; }

/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
/** {
	@include box-sizing(border-box);
	*behavior: url(boxsizing.htc);
}*/

/* =============================================================================
   Site Styles
   ========================================================================== */
html, body {
	//@include respond2($max: $cutoff-width) {
	//	max-width: 100%;
	//	overflow: hidden;
	//}
}

body {
	color: $base-color;
	@include bg();
}

a { 
	color: $link-color; 
	//border-bottom: 1px dotted transparent;
	@include transition(all 0.1s ease);

	&:visited { color: $visited-color; }
	&:hover { color: $hover-color; }
	/* &:focus { outline: thin dotted; } */
	&:focus { outline: none; }
	&:hover, &:active { 
		outline: 0;
		border-color: inherit;
	}
}

//img { max-width: 100%; }

h1, h2, h3 {
	margin: 0;
}
h1, h2 {
	@include bgClipText;
}
.title {
	margin-bottom: .25em;
}
.period {
	margin: 0 0 0;
}

#wrapper {
	margin: 0 auto;
	padding: 0 0 2em;
	position: relative;
	max-width: $max-width;
	@include respond(x2) {
		padding: 0 0 2.5em;
		max-width: $max-width-x2;
	}
	@include respond(x3) {
		padding: 0 0 5em;
		max-width: $max-width-x3;
	}
}

header {
	@include respond(x3) {
		.no-touch & {
			padding-top: 344px;
		}
	}

	div.belt {
		max-width: $max-width;

		@include respond(x2) {
			max-width: $max-width-x2;
		}

		@include respond(x3) {
			.no-touch & {
				position: fixed;
				top: 0;
				z-index: 0;
				width: 100%;
			}
			max-width: $max-width-x3;
		}
	}

	hgroup {
		background: #fff;
		padding: 1em 0;
		margin: 0 auto;
		max-width: $max-width;

		@include respond(x2) {
			padding: 1.5em 0;
			max-width: $max-width-x2;
		}
		@include respond(x3) {
			max-width: $max-width-x3;
		}
	}

	h2 {
		padding: .25em 0;
		-webkit-text-fill-color: rgba(0,0,0,.25);

		@include respond(x2) {
			padding-top: 0;
		}
	}

	nav {
		position: relative;
		color: #fff;
		@include bg();
		z-index:99;

		h3 {
			text-indent: -999%;
			text-align: left;
			line-height: 1.75em;
			@include respond(x3) {
				display: none;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0.5em;
				left: 0.5em;
				width: .75em;
				height: .75em;
				/*height: 0.1em;
				border-top: 0.375em double #fff;
				border-bottom: 0.125em solid #fff;*/
				@include background(
					linear-gradient(
						top,
						#fff, #fff 20%,
						transparent 20%, transparent 40%,
						#fff 40%, #fff 60%,
						transparent 60%, transparent 80%,
						#fff 80%, #fff 100%
					)
				)
			}
		}

		.sticky &,
		.touch & {
			position: fixed;
			top: 0;
			width: 100%;
			max-width: $max-width;

			@include respond(x2) {
				max-width: $max-width-x2;
			}
			@include respond(x3) {
				max-width: $max-width-x3;
			}
		}

		.nav-belt {
			position: fixed;
			top: 0;
			bottom: 0;
			left:-100%;
			width: 50%;
			overflow: hidden;
			background-color: rgba(30, 70, 90,.9);
			@include transition(left .5s);

			@include respond(x3) {
				position: relative;
				left: 0;
				padding: 0;
				background-color: transparent;
				width: 100%;
			}

			&.show {
				left: 0;
			}

			&::before {
				content: '';
				position: absolute;
				top: -1em;
				left: -1em;
				width: 200%;
				height: 200%;
				@include bg();
				@include filter(blur(5px));
				z-index: -1;
				opacity: .65;

				@include respond(x3) {
					display: none;
				}
			}
		}

		ul {
			margin: -50% 0 0;
			width: 100%;
			position: absolute;
			top: 50%;
			@include respond(x3) {
				margin: 0;
				position: relative;
				top: 0;
				left: 0;
				display: table;
			}
		}

		li {
			@include respond(x3) {
				display: table-cell;
			}
		}

		/*@include respond(x1) {
			//li:first-child {
			//	display: block;
			//}

			li:last-child::before {
				content: '•';
				padding-right:15px;
			}
		}

		@include respond(x2) {
			li:not(:first-child)::before {
				content: '•';
				padding-right:20px;
			}
		}*/

		a {
			@include alt-link;
			padding: 1em;

			&:hover {
				background: rgba(255,255,255,.15);
			}
		}

		/*&::before {
			@include border(top, 0);
			top: -1px;
			border-top: 1px solid rgba(0,0,0,.25);
			opacity: .75;
		}

		&::after {
			@include border(bottom, 0);
			bottom: -1px;
			border-bottom: 1px solid rgba(0,0,0,.25);
			opacity: .75;
		}*/

		/*&::after {
			@include border(bottom, 0);
			bottom: -2px;
			border-bottom: 1px solid rgba(0,0,0,.25);
			opacity: .25;
		}*/
	}
}

#main {
	@include bg();
	position: relative;
	z-index: 1;
	//background: rgba(255,255,255,.75);

	> section {
		//max-width: 900px;
		background: #fff;
		//width:100%;
		margin: 0 0 3em;
		position: relative;
		overflow: hidden;
	}

	h2, h3 {
		padding: .5em 0;
		position: relative;
		z-index: 1;

		&::before {
			@include border(bottom, 100%);
			opacity: .33;
			z-index: -1;
		}

		&::after {
			@include border(bottom, 1px);
			z-index: 2;
		}
	}

	h3 {
		color: #fff;
		-webkit-text-fill-color: #fff;
		@include text-shadow(0 0 1px #000);

		&::before {
			opacity: .66;
		}
	}

	p, ul, .content {
		margin: 0 $copy-margin;
		padding: 0 0 1em;
		list-style: none;
		position: relative;
		max-width: $copy-width;

		@include respond(x2) {
			max-width: $copy-width-x2;
			margin: 0 $copy-margin-x2;
		}

		@include respond(x3) {
			max-width: $copy-width-x3;
			margin: 0 $copy-margin-x3;
		}

		p {
			margin: 0;
		}
	}

	p:first-child {
		padding: 1em 0;
	}

	form {
		padding-bottom: 0;

		.errors {
			height: auto;
			opacity: 1;
			overflow: hidden;
			padding-top: 0;
			@include transition(height .25s, opacity .5s);

			&.hide {
				height: 0;
				opacity: 0;
				padding: 0;
			}
		}
	}

	/*
	p::after, ul::after, li::after {
		content: "";
		display: inline-block;
		width:100%;
		//line-height:$base-line-height;
	}
	*/

	li {
		padding: 1em 0;
		position: relative;

		ul {
			margin: 1em 0 1em;
			padding: 1px 0 0;

			&::before {
				@include border(top, 1px);
			}

			/*&::after {
				//@include border(bottom, 0);
				//height:0;
				//border: .95em solid transparent;
				//border-left: .5em solid #fff;
				//border-right: .5em solid #fff;
				//bottom: -1.8em;
				//@include box-sizing(border-box);
				@include border(bottom, 2em);
				bottom:-2em;
				opacity: .5;
			}*/
		}

		li {
			padding: .25em;
			margin: 2px auto 0;
			//display: table;

			&::after {
				@include border(bottom, 1px);
			}
		}

		&::after {
			@include border(bottom, 5px);
		}

		&:last-child::after {
			//display: none;
		}
	}

	.loader {
		text-align: center;
		@include transition(top .25s, opacity .25s);
		position: absolute;
		top:100%;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 2;
		opacity: 0;
		background: rgba(255, 255, 255, .5);
		margin: 0 -2.5em;

		&.on {
			top: 0;
			opacity: 1;

			.dot {
				@include animation('roll2 1s infinite');

				&:first-child {
					@include animation('roll 1s infinite');
				}
			}
		}

		.dot {
			display: inline-block;
			width: 20px;
			height: 20px;
			@include border-radius(20px);
			vertical-align: middle;
			position: relative;
			margin-top: 34%;
			@include bg();
			background-color: rgb(0,30,60);
		}
	}
}

.window {
	overflow: hidden;

	.pan {
		width: 200%;
		position: relative;
		left: 0;
		overflow: hidden;
		@include transition(height .5s, left .5s);
	}

	.panel {
		position: relative;
		float: left;
		width: 50%;
	}
}

@include keyframes(roll) {
	0% {
		left: 0;
		opacity: .5;
	}
	50% {
		left: 30px;
		opacity: .75;
	}
	100% {
		left: 0;
		opacity: .5;
	}
}

@include keyframes(roll2) {
	0% {
		left: 0;
		opacity: .5;
	}
	50% {
		left: -30px;
		opacity: .75;
	}
	100% {
		left: 0;
		opacity: .5;
	}
}

.skills {
	padding: 0;

	&.small {
		display: run-in;
	}

	li {
		display: inline;
		padding: 0 10px;

		&::after {
			display: none;
		}
	}
}

.ornate {
	position: relative;
	padding: 5px 0;
	//margin: 1.5em auto 1em;

	p:first-child::before,
	> li:first-child::before {
		@include border(top, 5px);
		margin-top: -5px;
	}

	p:last-child::after {
		@include border(bottom, 5px);
		margin-bottom: -5px;
	}
}

/*.ornate::before {
	@include border(top, 0);
	@include bg();
	width: 0;
	height: 0;
	border:30px solid #fff;
	border-bottom-color: transparent;
	border-top: 0;
	top: -5px;
	left:50%;
	margin-left:-30px;
}*/

/*	.ornate::after {
	@include border(bottom, 0);
	@include bg();
	width: 0;
	height: 0;
	border:30px solid #fff;
	border-top-color: transparent;
	border-bottom: 0;
	bottom: 2em;
	margin-bottom: -11px;
	left:50%;
	margin-left:-30px;
}

ul.ornate::after {
	margin-bottom: -6px;
}*/
.row {
	display: block;
	overflow: hidden;
	padding: 1em 0;

	label {
		display: block;
		position: relative;
		padding: .5em 0;
		background: #fff;

		&::before {
			@include border(top, 1px);
		}
	}

	.textbelt {
		overflow: visible;
		height: 1.2em;
		margin-bottom: .2em;
		@include transition(all 0.1s ease-out);

		textarea {
			height: 200%;
		}
	}

	input, textarea {
		border: 0;
		padding: 0;
		width: 100%;
		height: 1.2em;
		display: block;
		overflow: hidden;
		resize: none;

		&.offscreen {
			@include transition(none);
		}

		&:focus {
			outline: 0;
		}
	}

	.tip {
		display: none;
	}
}
.row-half {
	float: left;
	width: 50%;
	padding: 0 0 0 1em;

	&:first-child {
		padding: 0 1em 0 0;
	}
}
.error {
	.tip {
		display: inline;
	}

	label {
		color: $error-color;
		&::before {
			background: $error-color none;
		}
	}
}

.btn-belt {
	position: relative;
	overflow: hidden;

	button {
		@extend h3;
		display: block;
		border: 0;
		width: 100%;
		position: relative;
		outline: 0;
		background: rgba(0, 30, 60, .75);

		&::before {
			@include transition(all .1s linear);
		}

		#main &:hover::before {
			opacity: .75;
		}
	}
}

.island {
	padding: 1.5em 0;
	@include respond(x2) {
		padding: 2em 0;
	}
	@include respond(x3) {
		padding: 2.75em 0;
	}
}

.job .island {
	padding-top: 1.5em;
}
/*
div.div {
	@include bgClipText;
	margin: 0 0 -.1em;

	&::after {
		content: 'r';
		//content: 'b';
	}

	&.end {
		margin: -.6em 0 .4em;
		@include respond(x2) {
			margin: -.7em 0 .4em;
		}

		&::after {
			content: 'b';
		}
	}
}
*/
footer {
	color: #fff;
	max-width: $max-width;
	opacity: .5;

	@include respond(x2) {
		padding: 1.5em 0;
		max-width: $max-width-x2;
	}
	@include respond(x3) {
		.no-touch & {
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 0;
		}
		line-height: 1em;
		padding: 2.5em 0;
		max-width: $max-width-x3;
	}
}

nav {
	ul {
	  margin: 0;
	  padding: 0;
	}

	a {
		display: block;
	}
}

.offscreen {
	position: absolute!important;
	top: -999%;
	left: -999%;
}