// Use Compass ('cause it rocks!)
@import "compass";

// Links
$link-color: #43B8F2;
$visited-color: #53A8F2;
$hover-color: #196895;

// Links
$alt-link-color: #FFF;
$alt-visited-color: #FFF;
$alt-hover-color: rgba(255, 255, 255, .9);

// Dimensions
$copy-width: 15.5em;
$cutoff-width: $copy-width + 1em;
$max-width: $cutoff-width + 2em;
$copy-width-x2: 20em;
$cutoff-width-x2: $copy-width-x2 + 2em;
$max-width-x2: $cutoff-width-x2 + 3em;
$copy-width-x3: 28em;
$cutoff-width-x3: $copy-width-x3 + 2em;
$max-width-x3: $cutoff-width-x3 + 3em;

@import "modules/all"