// Use Compass ('cause it rocks!)
@import "compass";

$bg-color: #fefdef;

// Links
$link-color: #43B8F2;
$visited-color: #53A8F2;
$hover-color: #196895;

// Links
$alt-link-color: $bg-color;
$alt-visited-color: $bg-color;
$alt-hover-color: rgba(255, 255, 255, .9);

// Other colors
$error-color: #d80;

// Dimensions
$copy-width: 15.5em;
$cutoff-width: $copy-width + 1em;
$max-width: $copy-width + 3em;
$copy-margin: ($max-width - $copy-width) / 2;
$copy-width-x2: 20em;
$cutoff-width-x2: $copy-width-x2 + 2em;
$max-width-x2: $copy-width-x2 + 5em;
$copy-margin-x2: ($max-width-x2 - $copy-width-x2) / 2;
$copy-width-x3: 28em;
$cutoff-width-x3: $copy-width-x3 + 2em;
$max-width-x3: $copy-width-x3 + 5em;
$copy-margin-x3: ($max-width-x3 - $copy-width-x3) / 2;

@import "modules/all"