@media print {
    @page {
        size: auto;
        margin: 20mm 30mm;
    }
    #contact,
    footer,
    section :before,
    section :after {
        display: none!important;
    }

    #wrapper,
    header div.belt,
    header hgroup,
    #main p,
    #main ul,
    #main .content,
    footer {
        max-width: 100%;
    }

    body {
        font-size: 16px;
        margin: 0;
    }

    header,
    .no-touch header {
        padding: 0;

        div.belt {
            position: relative;
            padding: 0;
        }

        hgroup {
            padding: 0;
        }

        nav {
            padding: .2em 0 1em;

            .nav-belt {
                position: relative;
                left: 0;
                padding: 0;
                background-color: transparent;
                width: 100%;

                &:before {
                    display: none;
                }

                &:after {
                    content: '562-310-' + '3233 • davidzuch' + '@gmail.com';
                    display: block;
                    text-transform: none;
                }
            }

            h3, ul {
                display: none;
            }
        }
    }

    .backgroundclip {
        h1, h2, #main h3 {
            -webkit-background-clip: border-box;
            -webkit-text-fill-color: currentcolor;
        }
    }

    .island {
        padding: 0;

        .job & {
            padding-top: 0;
        }
    }

    #main {
        > section {
            margin: 0 0 2.5em;
        }
        #experience {
            page-break-before: always;
        }
        #education {
            margin-bottom: 0;
            page-break-before: always;
        }
        h2 {
            padding: .25em 0;
        }
        h3 {
            opacity: .5;
            padding: .1em 0 .25em;
        }
        .title {
            margin: 0;
        }
        p, ul {
            margin: 0;
        }
        p, p:first-child {
            padding: 0;
            text-indent: 1.5em;
        }
        ul {
            list-style: disc outside;
            padding-left: 1.5em;
        }
        li {
            padding: .1em 0;
        }
        .desc {
            padding: 0;
        }
        .ornate {
            padding-bottom: 1em;
        }
    }

    #wrapper,
    .no-touch #wrapper {
        padding-bottom: 0;
    }
}