@media print {
    @page {
        size: auto;
        margin: 20mm;
    }
    nav,
    #contact,
    footer {
        display: none;
    }

    #wrapper,
    header div.belt,
    header hgroup,
    #main p,
    #main ul,
    #main .content,
    footer {
        max-width: 100%;
    }

    body {
        font-size: 16px;
        margin: 0;
    }

    header hgroup {
        padding: 0 0 2.5em; 
    }

    .backgroundclip {
        h1, h2 {
            -webkit-background-clip: border-box;
            -webkit-text-fill-color: currentcolor;
        }
    }

    .island {
        padding: 0;

        .job & {
            padding-top: 0;
        }
    }

    #main {
        > section {
            margin: 0 0 2.5em;
        }
        #experience {
            page-break-before: always;
        }
        #education {
            margin-bottom: 0;
        }
        h2 {
            padding: .25em 0;
        }
        h3 {
            color: #000;
            padding: .1em 0;
        }
        .title {
            margin: 0;
        }
        p, ul {
            margin: 0;
        }
        p {
            &:first-child {
                padding-top: .35em;
            }
        }
        ul {
            list-style: disc outside;
            padding-left: 1em;
        }
        li {
            padding: .1em 0;
        }
        .orante {
            padding: 0;
        }
    }

    #wrapper,
    .no-touch #wrapper {
        padding-bottom: 0;
    }
}