@media print {
    @page {
        size: auto;
        margin: 10mm 20mm;
    }
    nav,
    #contact {
        display: none;
    }

    #wrapper,
    header div.belt,
    header hgroup,
    #main p,
    #main ul,
    #main .content,
    footer {
        max-width: 100%;
    }

    body {
        font-size: 16px;
        margin: 0;
    }

    .backgroundclip {
        h1, h2 {
            -webkit-background-clip: border-box;
            -webkit-text-fill-color: currentcolor;
        }
    }

    .island {
        padding: 0;

        .job & {
            padding-top: 0;
        }
    }

    #main {
        > section {
            margin: 0 0 1em;
        }
        h2 {
            padding: .25em 0;
        }
        h3 {
            color: #000;
            padding: .1em 0;
        }
        .title {
            margin: 0;
        }
        ul {
            list-style: disc outside;
            padding-left: 1em;
        }
        li {
            padding: .1em 0;
        }
    }

    #experience {
        page-break-before: always;
    }

    footer {
        p {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
}