// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: garamond-premier-pro-subhead, Garamond Premier Pro Subhead, Garamond Premier Pro, Times, serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-font-size-x2: 18px;
$base-font-size-x3: 20px;
$base-line-height: 1.6;
$base-color: #000;

// Alt Font
$alt-font-family: league-gothic, League Gothic, Oswald, Helvetica, sans-serif;
$alt-font-weight: $regular;
$alt-font-size: 20px;
$alt-line-height: $base-line-height;
$alt-color: $link-color;

// Alt2 Font
$style-font-family: Caligrafica;
$style-font-size: 104px;
$style-line-height: .5;
$style-font-size-x2: 114px;
$style-line-height-x2: $style-line-height;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	text-align: center;
	font-size-adjust: auto;
	//@include hyphenation;
	@include respond(x2) {
		font-size: $base-font-size-x2;
	}
	@include respond(x3) {
		font-size: $base-font-size-x3;
	}
}

a { 
	text-decoration: none;
}

h1, h2, h3 { 
	text-rendering: optimizeLegibility;
	font-family: $alt-font-family;
	text-transform: uppercase;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}
h1 {
	font-weight: $regular;
	text-transform: uppercase;
	font-size: 80px;
	font-size: 8rem;
	line-height: 1;
	@include respond(x2) {
		font-size: 136px;
		font-size: 13.6rem;
	}
	@include respond(x3) {
		//font-size: 285px;
		//font-size: 28.5rem;
		font-size: 187.5px;
		font-size: 18.75rem;
	}
}
.last-letter {
	letter-spacing: 0;
}
h2 {
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: $bold;
	letter-spacing: .03em;
	line-height: 1;
	@include respond(x2) {
		font-size: 45px;
		font-size: 4.5rem;
		letter-spacing: .14em;
	}
	@include respond(x3) {
		//font-size:75px;
		//font-size:7.5rem;
		//letter-spacing: .3em;
		font-size: 66px;
		font-size: 6.6rem;
		letter-spacing: .15em;
	}
}
h3 {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: $regular;
	line-height: 1;
	@include respond(x2) {
		font-size: 34px;
		font-size: 3.4rem;
	}
	@include respond(x3) {
		//font-size:54px;
		//font-size:5.4rem;
		//letter-spacing: .1em;
		font-size: 41px;
		font-size: 4.1rem;
		letter-spacing: .04em;
	}
}
.title {
	font-style: italic;
	font-size:1.1em;
}
.period, label {
	font-size: .5em;
	text-transform: uppercase;
	letter-spacing: .15em;
}
header {
	text-align: center;

	h2 {
		font-family: $base-font-family;
		font-style: italic;
		text-transform: none;
		font-size: 17.5px;
		font-size: 1.75rem;
		letter-spacing: 0;
		@include respond(x2) {
			font-size: 25px;
			font-size: 2.5rem;
			letter-spacing: 2px;
		}
		@include respond(x3) {
			//font-size: 58px;
			//font-size: 5.8rem;
			font-size: 37px;
			font-size: 3.7rem;
			letter-spacing: 2px;
		}
	}

	nav {
		font-style: normal;
		//font-weight: bold;
		text-transform: uppercase;

		li {
			font-size: 75%;
		}
	}
}

#main {
	p, dl, ul {
		text-align: justify;
	}

	/*ul.brag > li:first-line {
		text-transform: uppercase;
	}*/

	li li {
		font-size: 85%;
		font-weight: bold;
		text-align: center;
	}

	.skills {
		text-transform: lowercase;

		li {
			white-space: nowrap;
		}
	}
}

form {
	text-align: left;
}

footer {
	p, ul {
		font-size: 14px;
		font-size: 1.4rem;
		letter-spacing: .1em;
	}

	a {
		font-weight: bold;
	}

	strong {
		text-transform: uppercase;
		font-weight: normal;
	}
}

input, textarea {
	font-family: $base-font-family;
}

.tooltip {
	font-size: 85%;
}

div.div {
	font-family: $style-font-family;
	font-size: $style-font-size;
	line-height: $style-line-height;
	@include respond(x2) {
		font-size: $style-font-size-x2;
	}

	&.end {
		font-size: $style-font-size - 25px;

		@include respond(x2) {
			font-size: $style-font-size-x2 - 25px;
		}
	}
}

.small {
	font-size:85%;
}
.smaller {
	font-size:60%;
}