@import "modules/bg";
@import "modules/media";

$prefixes: ("-moz-", "");
@mixin selection($sel: "") {
	@each $prefix in $prefixes {
		#{$sel}::#{$prefix}selection {
			@content;
		}
	}
}

@mixin alt-link {
	color: $alt-link-color;

	&:visited {
		color: $alt-visited-color;
	}

	&:hover {
		color: $alt-hover-color;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes $name {
		@content;
	}
	@-moz-keyframes $name {
		@content;
	}
	@-o-keyframes $name {
		@content;
	}
	@keyframes $name {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}